.root {
    -fx-background-image:url("../../images/background02.jpg");
}
.split-pane-divider {
   -fx-background-color: transparent;
}
#addFriendButton
{
    -fx-background-image: url("../../images/addf.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
    -fx-background-size :30px 30px;
}
#addFriendButton:hover
{
    -fx-background-image: url("../../images/addf1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#addFriendButton:pressed
{
    -fx-background-image: url("../../images/addf.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}

.head{
    -fx-background-radius: 1px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 46px 46px;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color:transparent;

}
.head:hover{
    -fx-background-radius: 1px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-size: 46px 46px;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color:transparent;
}
.head:pressed{
    -fx-background-radius: 1px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-size: 46px 46px;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color:transparent;
}
.ListItem{
    -fx-background-color:transparent;
    -fx-text-fill:black;
}
.pane{
    -fx-background-radius: 0px;
    -fx-background-color:rgba(255,255,255,0);
}
#friendListView .list-cell {
    -fx-background-color: rgb(255,255,255);
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#friendListView .list-cell:selected{
    -fx-background-color: rgba(180,180,180,0.5);
    -fx-text-fill: black;
    -fx-font-family: "Forte";
    -fx-font-weight: bold;
}

.scroll-bar:horizontal,.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button,.decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,.scroll-bar:vertical .track{

    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color:transparent;

}
.scroll-bar:horizontal .thumb,.scroll-bar:vertical .thumb{

    -fx-background-color:transparent;
    -fx-background-radius:5px;

}
.scroll-bar:horizontal:hover .track,.scroll-bar:vertical:hover .track,.scroll-bar:horizontal:pressed .track,.scroll-bar:vertical:pressed .track
{

    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color:transparent;

}
.scroll-bar:horizontal:hover .thumb,.scroll-bar:vertical:hover .thumb{

    -fx-background-color: rgba(150,150,150,0.6);
    -fx-background-radius:5px;

}
.scroll-bar:horizontal:pressed .thumb,.scroll-bar:vertical:pressed .thumb{

    -fx-background-color: rgb(150,150,150);
    -fx-background-radius:5px;

}

.increment-button:hover,.decrement-button:hover,.increment-button:pressed,.decrement-button:pressed{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.increment-arrow, .decrement-arrow{

    -fx-shape: " ";
    -fx-padding: 0px;

}
