.root {
    -fx-background-image: url("../images/background02.jpg");
}

.tool-bar {
    -fx-background-color: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-color: rgb(29, 116, 255);
    -fx-border-width: 1px;
}

/*nothing changed*/
.web-view {
    -fx-background-color: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

#chatToLabel {
    -fx-font-size: 25px;
}

#emojiControl {
    -fx-background-image: url("../images/emoji_icon.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#emojiControl:hover {
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#imgControl {
    -fx-background-image: url("../images/img_icon.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#imgControl:hover {
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#audControl {
    -fx-background-image: url("../images/aud_icon.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#audControl:hover {
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#fmlControl {
    -fx-background-image: url("../images/fml_icon.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#fmlControl:hover {
    -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
}

#memControl {
    -fx-background-image: url("../images/mem_icon.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#memControl:hover {
     -fx-effect: innershadow(three-pass-box, rgba(255, 255, 255, 0.7), 6, 0.0, 0, 2);
 }