math {
    display: "inline";
}
div {
    /*overflow-x :hidden;
    width: 50%*/
    word-wrap: break-word;
    break-word: break-all;
    overflow: hidden;
}
div.rt_para {

}
div.lt_para {

}
p {
    margin: 8 auto;
}
p.content{
    padding: 2px;
    display: block;
    width: 80%;
    background-color: aliceblue;
    border-color: black;
    border-style: wave;
    border-radius: 50px;
    border-with: 1px;
}








